---
layout: page
titles: Archive
  # @end locale config
---

<h1>Archive</h1>

<p>Collection of all content uploaded by people of our community, organized by topic.</p>
<p>Go to <a href="#"> Subjects </a> if you want to view curriculums.</p>

<div class="mt-3"></div>

<div class="layout--archive js-all">
  {%- include tags.html -%}
  <div class="js-result layout--archive__result d-none">
    {%- include article-list.html articles=site.posts type='brief' show_info=true reverse=true group_by='year' -%}
  </div>
</div>

<script>
  {%- include scripts/archieve.js -%}
</script>

{{ content }}
